.airlinelogoIcon {
  height: 24px;
  width: 24px;
  position: relative;
  object-fit: cover;
}
.singaporeAirlines {
  position: relative;
  line-height: 16px;
  display: inline-block;
  min-width: 104px;
}
.airline {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  gap: var(--gap-9xs);
}
.price {
  position: relative;
  font-size: var(--components-input-text-size);
  line-height: 24px;
  font-weight: 600;
  color: var(--color-gray-200);
  text-align: right;
  display: inline-block;
  min-width: 48px;
}
.airlinePrice {
  align-self: stretch;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  gap: var(--gap-xl);
}
.depcode {
  position: relative;
  font-weight: 600;
}
.depname {
  position: relative;
  font-size: var(--typography-caption-size);
  color: var(--color-lightslategray);
  display: inline-block;
  min-width: 59px;
}
.departure {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  padding: 0px var(--padding-xl) 0px 0px;
  gap: var(--gap-11xs);
}
.flightIcon {
  height: 12px;
  width: 47.8px;
  position: relative;
  flex-shrink: 0;
}
.arrcode {
  position: relative;
  font-weight: 600;
  display: inline-block;
  min-width: 34px;
}
.arrname {
  align-self: stretch;
  position: relative;
  font-size: var(--typography-caption-size);
  color: var(--color-lightslategray);
  text-align: right;
}
.arrival {
  flex: 1;
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  justify-content: flex-start;
  padding: 0px 0px 0px var(--padding-4xs);
  gap: var(--gap-11xs);
}
.locations {
  align-self: stretch;
  border-radius: var(--br-9xs);
  background-color: var(--color-whitesmoke-100);
  overflow-x: auto;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  padding: var(--padding-5xs);
  gap: var(--gap-6xs);
  font-size: var(--components-input-text-size);
  color: var(--color-cornflowerblue-200);
}
.classIcon {
  height: 16px;
  width: 16px;
  position: relative;
  overflow: hidden;
  flex-shrink: 0;
}
.flightclass {
  position: relative;
  line-height: 16px;
  display: inline-block;
  min-width: 54px;
}
.class {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  padding: 0px var(--padding-11xl) 0px 0px;
  gap: var(--gap-5xs);
}
.numpeople {
  position: relative;
  line-height: 16px;
}
.bookingInfo {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  padding: 0px var(--padding-17xl) 0px 0px;
  gap: var(--gap-5xs);
}
.details {
  align-self: stretch;
  border-radius: var(--br-9xs);
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  gap: var(--gap-xl);
}
.expedia {
  color: var(--color-royalblue);
}
.timeago {
  position: relative;
  line-height: 16px;
  font-weight: 600;
  color: var(--color-orange-100);
}
.provider {
  align-self: stretch;
  border-top: 1px solid var(--color-whitesmoke-200);
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  padding: var(--padding-7xs) 0px 0px;
  gap: var(--gap-xl);
}
.bookingCard {
  align-self: stretch;
  flex: 1;
  border-radius: var(--br-7xs);
  border: 1px solid var(--color-whitesmoke-200);
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  padding: var(--padding-5xs) var(--padding-4xs);
  gap: var(--gap-3xs);
  text-align: left;
  font-size: var(--typography-caption-size);
  color: var(--color-lightslategray);
  font-family: var(--font-inter);
}
